<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="">
        <title>Floriane Gitton</title>
        <link rel="stylesheet" href="../public/assets/css/normalize.css">
        <link rel="stylesheet" href="../public/assets/css/main.css">

    </head>
    <body>
        <header>
            
            <div>
                <button>Me Contacter</button>
                <button>télécharger mon cv</button>
            </div>
            <div>
            <p>
                Bonjour je suis Floriane.Je suis développeuse Back-End Junior. Je suis actuellement en recherche d'emploi ou de stage, j'habite en île de France,
                mobilité en france métropolitaine et possibilité de télétravail. J'ai était Vendeuse Assistante en surgelée pendant 4 ans puis j'ai fait une reconversion 
                via une formation intensive de 6 mois dans l'école O'Clock, spécialisation Symfony.
            </p> 
            </div>
            
        </header>
        <main>
            
            <div>
                <h2>Projet Réalisé </h2>
                <div>
                    <h3>Développeuse web et Scrum Master du projet de fin d'études : His Life</h3>
                    <p>
                        Conception et création d'un site web pour les parents séparés pour la vie ou le travail et veulent être au courant au jour le jour de la vie de leur(s)
                        enfant(s).
                    </p>
                    <p>
                        Fonctionnalité dans le site : création de compte personnel et d'une famille avec un lien d'invitation pour faciliter l'ajout de l'autre parent,
                        profil de(s) enfant(s), dashboard dynamique en rapport aux derniers infos ajouté , stockage de documents (photo : de bulletin de note, carnet de santé et
                        mots des professeurs.), Calendrier interactif, messagerie par posts, galerie photo, répertoire de contacts 
                    </p>
                    <p>
                        Développement Back-End : Symfony,Adminer,MySQL,Calendar bundle de symfony
                    </p>
                    <p>
                        Développement Front-End : HTML5, CSS3, Bootstrap, Twig
                    </p>
                    <p>
                        Réalisé par 4 Développeur (on a tous fait la spécialisation Symfony):
                        <br>
                        Franck Bats : Git Master, Référent Technique et Développeur Back-End (<a href="http://franck-bats.fr/"> franck-bats.fr</a>)
                        Audrey Bodin : Product Owner, Lead Developpeuse Front et Développeuse Back-End 
                        Gaëtan Canovas : Lead Developpeur Back et Développeur Back-End (<a href="https://gaetancanovas.dev/"> gaetancanovas.dev</a>) 
                        et Moi (Floriane Gitton) : Scrum Master et Développeuse Back-End
                    </p>
                    <p>
                        Réalisé en 4 semaines intensives :
                        <br>
                        Créations du cahier des charges de A à Z : choix des fonctionnalitées, spécificités techniques, MVP (Minimum Viable Product), MCD (Modèle Conceptuel des
                        Données), wireframes, charte graphique et les user stories.
                    </p>
                    <p>
                        Démonstration du projet 
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/N6r0w_LuQu4?start=2283"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </p>               
                    
                </div>
            </div> 
            <!-- fin div de Projet -->

            <div>
                <h2>Expériences</h2>

                <div>
                    <h3>Scrum Master/Développeuse Back-End</h3>
                    <h4>His Life (en remote)
                        <br>
                        Mai-Juin 2020
                    </h4>
                    <h5>Développement du site "His Life" avec Symfony</h5>
                </div>
                <div>
                    <h3>Vendeuse Assistante</h3>
                    <h4>Picard Surgelés, Paris
                        <br>
                        Mars 2015 - Janvier 2020
                    </h4>
                    <h5>Relation client, encaissement, mise en rayon, manutention, commande... </h5>
                </div>
                <div>
                    <h3> Stage de Graphiste</h3>
                    <h4>Chupeta Paris, Paris
                        <br>
                        Juin-Juillet 2013
                      </h4>
                      <h5>Créations d'entitée visuelle de la marque (concevoir les dossiers presses, catalogues et flyers.)</h5>
                </div>
                <div>
                    <h3>Stage de Graphiste</h3>
                    <h4>IDGift/barbacado, Maison Alfort
                        <br>
                        Juin 2012
                    </h4>
                    <h5>Ajout de logo sur des produits, Modification de motifs et/ou couleurs des produits, Newletter, mailling et plaquette </h5>
                </div>
                <div>
                    <h3>Hôtesse de caisse</h3>
                    <h4>IKEA, Thiais, Val-de-Marne
                        <br>
                        Juin 2011 -Septembre 2011
                    </h4>
                    <h5>Relation client, assurer l'encaissement, scanner les produits et entretenir la caisse et son environnement</h5>
                </div>
                <div>
                    <h3>Vendeuse Ouverture et Fermeture</h3>
                    <h4>Boulangerie Paul, Thiais, Val-de-Marne
                        <br>
                        Octobre 2008 - Septembre 2010
                    </h4>
                </div>
            </div>
            <!-- fin de expérience  -->
            <div>
                <div>
                    <h2>Compétences</h2>

                    <p>Symfony, PHP, MySQL, HTML5, CSS3, JavaScript</p>

                    <p>Anglais : intermediaire</p>
                </div>

            </div>
            <!-- fin compétences -->
            <div>
                <h2>Formations</h2>
                <div>
                    <h3>Formation Développeur Web et Mobile</h3>
                    <h4>O'Clock - Labellisée Grande &Eacute;cole du Numérique
                        <a href="">(voir le programme)</a>
                        <br>
                        Janvier 2020 à Juin 2020
                    </h4>
                    <h5>
                      Formation en Téléprésentiel  
                    </h5>
                    <p>735h intensives </p>
                    <ul>
                        
                        <li>3 mois de Socle : HTML5, CSS3, PHP, SQL, JavaScript, POO.</li>
                        <li>1 mois de spécialisation en Symfony</li>
                        <li>1 mois de projet : His Life <!-- voir à rajouter la présentation--> </li>
                    </ul>

                </div>
                <div>
                    <h3>Année Préparatoire - Prep'Web</h3>
                    <h4>PREP'com
                        <br>
                        2011 - 2012
                    </h4>
                    <h5>
                        Bagnolet (Seine-Saint-Denis)
                    </h5>
                    <p>Stages de Graphiste : Chez Chupeta, Paris (créations d'entitée visuelle de la marque) et chez IDGift et Barbacado, </p>
                </div>
                <div>
                    <h3>Brevet de Technicien Dessinateur Maquettiste option Arts Graphiques</h3>
                    <h4>Elisa Lemonier
                        <br>
                        2006 - 2008
                    </h4>
                    <h5>
                        Paris
                    </h5>

                </div>
            </div>
            <!-- fin de formation -->

            <div>
                <h2>Centres d'intérêts</h2>
                <div>
                    <h3>Les Parcs d'Attractions</h3>
                    <h4>préférence pour les montagnes russes en bois</h4>
                </div>
                <div>
                    <h3>Cinéphile</h3>
                    <h4>Films d'horreur/épouvante,fantastique et romance</h4>
                </div>
                <div>
                    <h3>Expositions</h3>
                    <h4>de peintures et photos</h4>
                </div>
            </div>
            <!-- fin de centre d'intérêts -->

           
        </main>
        <footer>
            <div>
                <h2> Me Contacter</h2>
                <div>
                    <h2>
                        LinkedIn
                    </h2>
                    <i class="fab fa-linkedin-in"></i>
                </div>
                
                
            </div>
            <!-- fin de contact plus réseaux sociaux-->
        </footer>
    </body>
</html>