<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="">
        <title>Floriane Gitton</title>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        

    </head>
    <body>
        <header>
            
            <div class="button">
                <a class="btn" href=""><button class="button_btn"><span>Me Contacter</span></button></a>
                <a class="btn" href=""><button class="button_btn">télécharger mon cv</button></a>
            </div>
            <div>
                <h1>
                    Bonjour je suis Floriane. Je suis développeuse Back-End Junior. Je suis actuellement en recherche d'emploi ou de stage, j'habite en Île de France,
                    mobilité en France métropolitaine et possibilité de télétravail. J'ai été Vendeuse Assistante de produits surgelés pendant 4 ans avant de faire une formation 
                    intensive de 6 mois dans l'école O'Clock, spécialisation Symfony.
                </h1> 
            </div>
            
        </header>
        <main>

            
            <aside id="modal" class="modal" aria-hidden="true" role="dialog" aria-labelledby="titlemodal" style="display: none;">
                <div class="modal-wrapper js-modal-stop">
                    <button class="js-modal-close">fermer la boite modal</button>
                    <h3 id="titlemodal">Développeuse web et Scrum Master du projet de fin d'études : His Life</h3>
                    <input type="text">
                    <p>
                        Conception et création d'un site web pour les parents séparés pour la vie ou le travail et veulent être au courant au jour le jour de la vie de leur(s)
                        enfant(s).
                    </p>
                    <p>
                        Réalisé par 4 Développeurs (on a tous fait la spécialisation Symfony):
                        <br>
                        Franck Bats : Git Master, Référent Technique et Développeur Back-End (<a href="http://franck-bats.fr/"> franck-bats.fr</a>)
                        Audrey Bodin : Product Owner, Lead Developpeuse Front et Développeuse Back-End 
                        Gaëtan Canovas : Lead Developpeur Back et Développeur Back-End (<a href="https://gaetancanovas.dev/"> gaetancanovas.dev</a>) 
                        et Moi (Floriane Gitton) : Scrum Master et Développeuse Back-End
                    </p>
                </div>

            </aside>

            
           
        </footer>
        <script src="/assets/js/app.js">

        </script>
    </body>
</html>